.container-progressbar {
  height: 20px;
  width: 820px;
  background-color: #ffffffbb;
  border-radius: 5px;
}

.filler {
  height: 20px;
  background-color: rgb(30, 49, 105);
  border-radius: 5px;
  text-align: "right";
  transition: all 0.14s linear;
}

.label {
  padding: 5px;
  color: white;
  font-weight: "bold";
}
