.container-progressbar {
  height: 20px;
  width: 820px;
  background-color: #bcbcbc;
  border-radius: 5px;
}

.filler {
  height: 20px;
  background-color: rgb(63, 25, 106);
  border-radius: 5px;
  text-align: "right";
}

.label {
  padding: 5px;
  color: white;
  font-weight: "bold";
}
