.results-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.resultsScrollBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid black;
  width: 600px;
  height: 400px;
  padding: 20px;
  overflow-y: scroll;
}

.resultsScrollBox::-webkit-scrollbar {
  width: 6px; /* width of the entire scrollbar */
}
.resultsScrollBox::-webkit-scrollbar-track {
  background: rgb(204, 204, 204); /* color of the tracking area */
}
.resultsScrollBox::-webkit-scrollbar-thumb {
  background-color: rgb(155, 152, 237); /* color of the scroll thumb */
  border-radius: 40px; /* roundness of the scroll thumb */
  border: none; /* creates padding around scroll thumb */
}

.incorrectAnswerColor {
  color: red;
}

.correctAnswerColor {
  color: greenyellow;
}

.resultsQuestion {
  width: 500px;
}

.resultsAnswer {
  background-color: rgb(169, 167, 164);
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 15px;
  justify-items: center;
}

.playAgainBtn {
  display: flex;
  font-family: Helvetica;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: rgb(255, 255, 255);
  text-decoration: none;
  color: rgb(16, 9, 86);
  border-radius: 8px;
  width: 100px;
  padding: 10px;
  box-shadow: 5px 5px 0px 0px;
  transition: all 0.2s ease-in-out;
  animation: pulseButton 3s infinite ease-in-out;
}

#play {
  scale: 1.5;
}
