.start-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-wrapper h1 {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  padding: 2rem;
  width: 800px;
  height: 600px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: rgba(207, 207, 206, 0.537);
}
.startHighscoreWrapper {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  height: 285px;
  width: 220px;
  padding: 0.5rem;
  border-radius: 5px;
}

input {
  border: 0;
  border-bottom: 2px solid rgb(173, 173, 173);
  outline: 0;
  padding: 0.3rem;
  background: transparent;
  color: white;
  font-size: 1.1rem;
  width: 170px;
  margin-bottom: 0.3rem;
}

input::placeholder {
  color: white;
  font-size: 1rem;
  opacity: 0.7;
}

.highscore {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 230px;
  height: 300px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

/* CSS */
.start a {
  background-color: white;
  letter-spacing: 1px;
  font-weight: bold;
  width: 170px;
  height: 50px;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 5px 5px 0px 0px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, scale 0.2s ease-in-out;
}

.start a:hover {
  scale: 1.02;
}

.start a:active {
  transform: translate(2px, 2px);
  box-shadow: 3px 3px 0px 0px;
}

.start a:visited {
  color: black;
}

body {
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
}
