.musicDiv {
  min-width: 900px;
}

.toggleMusic {
  border-radius: 5px;
  height: 35px;
  width: 45px;
  cursor: pointer;
}

.toggleMusic img {
  width: 30px;
}

@media only screen and (max-width: 750px) {
  .musicDiv {
    min-width: auto;
  }
}
