.musicDiv {
  width: 900px;
}

.toggleMusic {
  border-radius: 5px;
  height: 35px;
  width: 45px;
  cursor: pointer;
}

.toggleMusic img {
  width: 30px;
}

@media only screen and (max-width: 700px) {
  .musicDiv {
    display: flex;
    justify-content: center;
    width: auto;
    }
}
